
.form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-registration input{
    border-radius : 0;
    margin-bottom: -1px;
  }

  .article-container {
    background-color: #FFFFFF; /* Warna latar belakang kotak */
    padding: 15px; /* Ruang di dalam kotak */
    border-radius: 5px; /* Membuat sudut kotak melengkung */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efek bayangan pada kotak */
    max-width: 800px; /* Lebar maksimal kotak */
    margin: 0 auto;
  }
  
  .article-content {
    margin: 0 -40px;
  }